[submodule "auto_invoice"]
	path = auto_invoice
	url = git@github.com:shine-it/auto_invoice.git
[submodule "filter_product_quantity"]
	path = filter_product_quantity
	url = git@github.com:shine-it/filter_product_quantity.git
[submodule "purchase_supplied_goods"]
	path = purchase_supplied_goods
	url = git@github.com:shine-it/purchase_supplied_goods.git
[submodule "product_custom_attributes"]
	path = product_custom_attributes
	url = git@github.com:shine-it/product_custom_attributes.git
[submodule "oecn_base_fonts"]
	path = oecn_base_fonts
	url = git@github.com:shine-it/oecn_base_fonts.git
